/*    reset  css qiqiqiqi*/
*,
::before,
::after{
    /*选择所有的标签 */
    margin: 0;
    padding: 0;

    /*清除移动端默认的 点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有的都是以边框开始计算宽度  百分比*/
    -webkit-box-sizing: border-box;/*兼容*/
    box-sizing: border-box;
}
body{
    font-family: "MicroSoft YaHei",sans-serif;/*设备默认字体*/
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
input, button, select, textarea{
    border: none;
    outline: none;
    /*清楚移动端默认的表单样式*/
    -webkit-appearance: none;
}

/* common css */
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}

.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_t10{
    margin-top: 10px;
}



/*垂直居中*/
.verticalAlign{ vertical-align:middle; display:inline-block; height:100%;}

.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #666666; opacity: 0.5; z-index: 2147000000;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 66.66%; height: 3.2rem; margin-left: -33.33%; margin-top: -20%; border-radius: 0.13rem; color: #282828;}
.xcConfirm .popBox .ttBox{font-size: 0.30rem;height: 0.8rem;}
.xcConfirm .popBox .ttBox .tt{font-size: 0.3rem; display: block; height: 0.8rem;line-height: 0.8rem;text-align: center;padding: 0.2rem 0 0 0}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 0.3rem; height: 0.3rem; position: absolute; top: 0.1rem; right: 0.5rem; background: url(../image/icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{height: 2.2rem; width: 100%;padding: 5% 0 0 0;}
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-right: 0.33rem; width: 0.8rem; height: 0.8rem; background-image: url(../image/icons.png); background-repeat: no-repeat; background-position: 48px 0;}
.xcConfirm .popBox .txtBox p{font-size: 0.30rem;text-align: center;margin-left: 0.3rem;margin-right: 0.3rem;}
.xcConfirm .popBox .txtBox p input{font-size: 0.30rem;width: 65%; height: 0.5rem; border: solid 1px #eef0f1; font-size: 0.3rem; margin-top: 0.1rem;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{margin-left: 0.21rem;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-right: 0.21rem;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; width: 3rem;float: left; height: 0.75rem; line-height: 0.75rem; text-align: center; color: #FFFFFF; border-radius: 0.1rem;}
.xcConfirm .popBox .sgBtn.ok{background-color: #009FEC; color: #FFFFFF;font-size: 0.30rem;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #FFFFFF; color: #282828;font-size: 0.30rem;border: solid 1px #C9C9C9}
